{% extends 'base.html' %} {% block content %}

<div class="container">
  <form
    class="form-group"
    action="{% url 'edit-profile' profileID %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h1>Edit Your Profile</h1>
          <p>
            Before Apply Changes Make Sure You have Given Correct Location &
            Blood Group*
          </p>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-6">
            <div class="mt-2">
              <label for="">Name:</label>
              {{form.name}}
            </div>
            <div class="mt-2">
              <label for="">Bio</label>
              {{form.bio}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="mt-2">
              <label for="">Address:</label>
              {{form.address}}
            </div>
            <div class="mt-2">
              <label for="">Blood Group:</label>
              {{form.bloodGroup}}
            </div>
          </div>
        </div>

        <div class="mt-2">
          <label for="">Avatar:</label>
          {{form.avatar}}
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="mt-2">
              <label for="">Last Blood Given:</label>
              {{form.lastGiven}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mt-2">
              <label for="">Total Blood Donate:</label>
              {{form.totalDonate}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mt-2">
              <label for="">Phone Number:</label>
              {{form.phoneNum}}
            </div>
          </div>
        </div>

        <button type="submit" class="ui blue basic button mt-2">
          Apply Changes
        </button>
        <a href="{% url 'my-profile' %}">
          <button type="button" class="ui blue basic button mt-2">
            Back to Profile
          </button>
        </a>
      </div>
    </div>
  </form>
</div>

{% endblock content %} {% block scripts %}
<script>
  document.getElementById("id_name").classList.add("form-control");
  document.getElementById("id_bio").classList.add("form-control");
  document.getElementById("id_totalDonate").classList.add("form-control");
  document.getElementById("id_bloodGroup").classList.add("form-control");
  document.getElementById("id_address").classList.add("form-control");
  document.getElementById("id_avatar").classList.add("form-control");
  document.getElementById("id_phoneNum").classList.add("form-control");
  document.getElementById("id_lastGiven").classList.add("form-control");
</script>
{% endblock scripts %}
